.usersCard{
    width: 250px;
    margin: auto;
}

.inputWrapper {
    display: flex;
    align-items: center;
}
.fullWrapper-UsersPanel{
    background-color: #333;
    color: white;
    margin: 5%;
}
.ant-divider-horizontal.ant-divider-with-text{
    color: white;
}
.anticon {
    color: white;
}
