.Button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 15%;
    margin-top: 15px;
    background-color: #666;
    color: white;
}
.bgimg{
    width: 100%;
    height: 100%;
    background-color: white;
}
.Table {
  margin-top: 5%;
  }
.userCardContainer{
  text-align: center;
  margin: 5%;
}
.fullWrapper{
  background-color: #999;
  color: white;
}
.UserPanelWrraper{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1%;
  padding: 2%;
  background-color: #bbb;
}
.User-modal-button-wrapper .anticon{
  font-size: xx-large;
color: black;
}
.User-modal-button-wrapper{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
}
.UserInfoContainer{
  background-color: #bbb;
  display: flex;
  justify-content: center;
  width: 100%;
}
.UserInfoContainer-Card{
  height: auto;
  width: 100%;
margin: 10%;
}
.UserInfoContainer-Profile{
  width: 100%;
  margin: 10%;
  height: auto;
}
.ant-card-body{
  display: flex;
  justify-content: center;
  align-items: center;
}