@import 'colors';

.admin-panel-card {
  width: 250px;
  margin: auto;
}

.admin-panel-search-input {
  width: 55%;
  margin-bottom: 5%;
}

.admin-panel-wrapper {
  background-color: $primary-color;
  color: $light-color;
  margin: 5%;
}

.admin-panel-divider {
  color: $light-color;
}

.anticon {
  color: $light-color;
}

.admin-panel-users-wrapper {
  margin: 2%;
}

.admin-panel-button-wrapper {
  height: auto;
  display: flex;
  flex-wrap: nowrap;
}

.admin-panel-button-wrapper .anticon {
  color: $dark-color;
}

.admin-panel-report-card {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 40%;
  margin: 5%;
}

.admin-panel-report-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-wrap: nowrap;
  margin: 5%;
}

.admin-panel-control-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-wrap: nowrap;
  margin: 5%;
}

.admin-panel-control-img {
  width: 100%;
  height: 300px;
}

.admin-panel-button-wrapper .anticon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $dark-color;
}

.admin-panel-button {
  width: 100%;
  height: 100;
}

.admin-panel-user-info-container {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .admin-panel-report-card .admin-panel-img {
    width: auto;
    height: auto;
  }
}

.admin-panel-single {
  height: 100%;
  width: 100%;
}

.admin-panel-view {
  width: 50%;
}

.admin-panel-view-container {
  display: flex;
  width: 100%;
}

.admin-panel-search-container {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}