@import '../assets/colors';

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: $light-color;
    background-color: $secondary-color;
}