@import '../assets/colors';

.list-card {
  height: 100%;
  width: 100%;
}

.list-modal-button-wrapper .anticon {
  font-size: xx-large;
  color: $dark-color;
}

.list-modal-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.list-panel-wrapper {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1%;
  padding: 2%;
  background-color: $light-color;
}