@import 'colors';

.Filler-Row {
  height: 40vh;
  background-color: $primary-color;
}

.Content-Row {
  height: 20vh;
}

.Row-Input {
  width: 100%;
  background-color: $secondary-color  ;
}

.Row-Input-Username {
  padding-top: 2vh;
}

.Row-BUtton {
  width: 100%;
}

.ant-form-item .ant-form-item-label>label {
  color: $light-color;
  font-size: larger;
}

.Submit{
  height: 25%;
  font-size: x-large;
  background-color:$primary-color
}