@import 'colors';

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loginFormFiller {
  height: 40vh;
  background-color: $primary-color;
}

.loginFormContent {
  height: 20vh;
}

.loginFormRowInput {
  width: 100%;
  background-color: $secondary-color;
}

.loginFormRowInputUsername {
  padding-top: 2vh;
}

.loginFormRowInputPassword {
  padding-bottom: 2vh;
}

.loginFormRowInputButton {
  width: 100%;
}

.loginFormLabel {
  color: $light-color;
  font-size: larger;
}

.loginFormSubmit {
  height: 25%;
  font-size: x-large;
  background-color: $primary-color;
}