@import 'colors';

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form-filler {
  height: 40vh;
  background-color: $primary-color;
}

.login-form-content {
  height: 20vh;
}

.login-form-row-input {
  width: 100%;
  background-color: $secondary-color;
}

.login-form-row-input-username {
  padding-top: 2vh;
}

.login-form-row-input-password {
  padding-bottom: 2vh;
}

.login-form-row-input-button {
  width: 100%;
}

.login-form-label {
  color: $light-color;
  font-size: larger;
}

.login-form-submit {
  height: 25%;
  font-size: x-large;
  background-color: $primary-color;
}