@import 'colors';

.percent {
  display: flex;
  width: 90%;
  margin: 5%;
  background-color: $light-color;
  border-radius: 25px;
  padding: 1%;
}

.step-2-users-card {
  display: flex;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
}

.input-wrapper-report {
  display: flex;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  width: 100%;
}

.inputs {
  padding: 1%;
  width: 100%;
}

.button-submit {
  height: 50px;
  width: 50%;
  padding: 1%;
}

.button-back {
  display: flex;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  justify-content: center;
  flex-wrap: wrap;
}

.input-wrapper-report {
  background-color: $primary-color;
  padding: 5%;
}

.users-panel-card {
  width: 250px;
  height: 500px;
  margin: auto;
}

.search-input {
  width: 55%;
  margin-bottom: 5%;
}

.search-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.selected-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.selected {
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}