.percent{
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: white;
    border-radius: 25px;
    padding: 1%;
}
.CardSelectorContainer{
display: flex;
width: 90%;
margin-left: 5%;
margin-right: 5%;
margin-right: 5%;
margin-bottom: 5%;
}
.CardSelector
{
    height: auto;
    width: 100%;
}
.Step2-usersCard{
    display: flex;
width: 90%;
margin-left: 5%;
margin-right: 5%;
margin-right: 5%;
margin-bottom: 5%;

}
.InputWrapperReport{
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    justify-content: center;
    flex-wrap: wrap;
}
.SinleInput{
    padding: 1%;
}
.BtnSinleInput{
    height: 50px;
    width: 50%;
    padding: 1%;
}
.goBack{
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    justify-content: center;
    flex-wrap: wrap;
}
.InputWrapperReport{
    background-color: #777;
    padding: 5%;
}