.usersCard {
    width: 250px;
    margin: auto;
}

.searchInput-AdminPanel {

    width: 55%;
    margin-bottom: 5%;
}

.fullWrapper-UsersPanel {
    background-color: #999;
    color: white;
    margin: 5%;
}

.ant-divider-horizontal.ant-divider-with-text {
    color: white;
}

.anticon {
    color: white;
}
.Users-Wrapper{
    margin: 2%;
}
.Admin-Button-Wrapper{
    height: auto;
    display: flex;
    flex-wrap: nowrap;
}
.Admin-Button-Wrapper .anticon {
    color: black;
}
.Admin-usersCard{
    display: flex;
    flex-wrap:wrap;
    height: auto;
    width: 40%;
    margin: 5%;
}
.Admin-panel-report-wrapper{
    display: flex;
    flex-wrap:wrap;
}
.Admin-img{
    width: 50px;
    height: 50px;
}
.Admin-Reports-Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-wrap: nowrap;
    margin: 5%;
}
.Control-User-Card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-wrap: nowrap;
    margin: 5%;
}
.Admin-img-Control{
    width: 100%;
    height: 300px;
}
.Admin-Button-Wrapper .anticon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}
.Admin-Button{
    width: 100%;
    height: 100;
}
.UserInfoContainer{
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .Admin-img{
        width: auto;
        height: auto;
    }
  }
  .ADmin-Single{
    height: 100%;
    width: 100%;
  }

  .Admin-view{
    width: 50%;
  }
  .Admin-view-COntainer{
    display: flex;
    width: 100%;
  }
  .searcahADminCOntainer{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
  }