.usersCard {
    width: 250px;
    margin: auto;
}

.searchInput-AdminPanel {
    width: 55%;
    margin-left: 25%;
}

.fullWrapper-UsersPanel {
    background-color: #333;
    color: white;
    margin: 5%;
}

.ant-divider-horizontal.ant-divider-with-text {
    color: white;
}

.anticon {
    color: white;
}
.Users-Wrapper{
    margin: 2%;
}
.Admin-Button-Wrapper{
    height: auto;
    display: flex;
    flex-wrap: nowrap;
}
.Admin-Button-Wrapper .anticon {
    color: black;
}
.Admin-usersCard{
    display: flex;
    flex-wrap:wrap;
    height: auto;
    width: 40%;
    margin: 5%;
}
.Admin-panel-report-wrapper{
    display: flex;
    flex-wrap:wrap;
}
.Admin-img{
    width: 50px;
    height: 50px;
}
@media (max-width: 768px) {
    .Admin-img{
        width: auto;
        height: auto;
    }
  }