.usersCard {
    width: 250px;
    margin: auto;
}

.searchInput-AdminPanel {
    width: 55%;
    margin-left: 25%;
}

.fullWrapper-UsersPanel {
    background-color: #333;
    color: white;
    margin: 5%;
}

.ant-divider-horizontal.ant-divider-with-text {
    color: white;
}

.anticon {
    color: white;
}
.Users-Wrapper{
    margin: 2%;
}
.Admin-Button-Wrapper{
    height: auto;
}
.Admin-Button-Wrapper .anticon {
    color: black;
}